layout {
    tab name="{tab_name}" cwd="{path}" {
        pane size=1 borderless=true {
            plugin location="tab-bar"
        }
        pane split_direction="vertical" {
        	pane name="File explorer" {
        		size 40
        		command "fish"
        		args "-c" "SESSION_ID={session_id} SESSION_CWD={path} hide-cli run yazi --client-id={session_id} ."
        		close_on_exit true
        	}
        	pane name="Editor" {
        		focus true
        		command "fish"
        		args "-c" "SESSION_ID={session_id} SESSION_CWD={path} hide-cli run hx ."
        		close_on_exit true
        	} 
        	pane name="Terminal" {
        	    size 80
        	    command "fish"
        	    args "-c" "SESSION_ID={session_id} fish"
        	    close_on_exit false
        	}
        }
        pane size=1 borderless=true {
            plugin location="status-bar"
        }
    }
}
