layout {
    tab name="{tab_name}" {
        pane size=1 borderless=true {
            plugin location="tab-bar"
        }
        pane split_direction="vertical" {
        	pane name="File explorer" {
        		size 40
        		command "hide-cli"
        		args "{session_id}" "yazi" "{path}"
        		close_on_exit true
        	}
        	pane name="Helix" {
        		focus true
        		command "hide-cli"
        		args "{session_id}" "hx" "{path}"
        		close_on_exit true
        	} 
        }
        pane size=1 borderless=true {
            plugin location="status-bar"
        }
    }
}
