layout {
    tab name="{tab_name}" cwd="{path}" {
        pane size=1 borderless=true {
            plugin location="tab-bar"
        }
        pane split_direction="vertical" {
        	pane name="Yazi" {
        		size 40
        		command "fish"
        		args "-c" "SESSION_ID={session_id} hide-cli run yazi ."
        		close_on_exit true
        	}
        	pane name="Helix" {
        		focus true
        		command "fish"
        		args "-c" "SESSION_ID={session_id} hide-cli run hx ."
        		close_on_exit true
        	} 
        }
        pane size=1 borderless=true {
            plugin location="status-bar"
        }
    }
}
